@import './base.css';
@import "tailwindcss";
@import "./scss/fonts.css";
@import "./scss/base.scss";
#app {
  margin: 0 auto;
  font-weight: normal;
  background: url('./iPhone 16 - 12.png') no-repeat center;
  background-size: cover;
}

